<div class="main-nav-sidebar">
  <ul class="nav flex-column">
    <ng-container>
      <li class="nav-item">
        <a
          tabindex="0"
          class="nav-link"
          routerLinkActive="active"
          routerLink="/dashboard"
          >Dashboard</a
        >
      </li>
      <ng-container>
        <li class="nav-item">
          <a
            tabindex="0"
            class="nav-link"
            routerLinkActive="active"
            routerLink="/admin/user-list"
            >Manage Access</a
          >
        </li>
      </ng-container>
      <li class="nav-item">
        <a tabindex="0" class="nav-link">Logout</a>
      </li>
    </ng-container>
  </ul>
</div>
