<header id="header" class="header">
  Header text
  <nav class="navbar navbar-expand-md" id="header-nav">
    <div class="container-fluid">
        <!-- <section class="inner-header d-flex align-items-center">
          <div
            class="inner-logo w-100 d-flex align-items-center justify-content-between flex-column"
          >
            <a href="#" class="w-100 d-block"
              ><img
                src="../../../../../assets/images/zs-icon.png"
                alt="logo"
                class="w-100"
            /></a>
            <span>CI</span>
          </div>
          <div class="container-fluid">
            <h4 class="mb-0 title">Competitive Intelligence Analysis</h4>
          </div>
        </section> -->
      <button mat-raised-button (click)="onToggleDrawerClick()">
        Toggle drawer
      </button>
    </div>
  </nav>
</header>
