
// ======>> Font Size <<======
@mixin fontSize($maxSize, $minSize){
    font-size:calc(#{$minSize}px + (#{$maxSize} - #{$minSize}) * (100vw - 1200px) / (1920 - 1200));
    line-height:1.4;
}

// ======>>  !!! WARNING !!! <<->> DO NOT UPDATE THE DECIMAL VALUES IN BELOW MIXINS CALCULATIONS
@mixin elemWidthHeight($elemWidth, $elemHeight){
    width:calc((#{$elemWidth}px * 0.625) + (#{$elemWidth} - (#{$elemWidth} * 0.625)) * (100vw - 1200px) / (1920 - 1200));
    height:calc((#{$elemHeight}px * 0.625) + (#{$elemHeight} - (#{$elemHeight} * 0.625)) * (100vw - 1200px) / (1920 - 1200));
}

// ======>> Function Mixins <<======
@function weight($weight-name){
    @return map-get($font-weights, $weight-name);
}

// ======>> Transition Mixins <<======
@mixin transitionTime($time){
    transition:all $time ease-in-out;    
}



