<div
  class="left-panel d-flex align-items-centerleft-panel d-flex align-items-center flex-column"
>
  <ul class="list-unstyled m-auto w-100">
    <li>
      <a data-toggle="tooltip" data-placement="bottom" title="Dashboard">
        <mat-icon svgIcon="users-solid"></mat-icon>
      </a>
    </li>
    <li>
      <a href="#" data-toggle="tooltip" data-placement="bottom" title="Summary"
        ><i class="icon aa-graph"></i
      ></a>
    </li>
    <li>
      <a
        href="#"
        data-toggle="tooltip"
        data-placement="bottom"
        title="Data Exploration"
        ><i class="icon aa-cloud-search"></i
      ></a>
    </li>
    <li>
      <a
        href="#"
        data-toggle="tooltip"
        data-placement="bottom"
        title="Cluster Analysis"
        ><i class="icon aa-nodes"></i
      ></a>
    </li>
    <li>
      <a
        href="#"
        data-toggle="tooltip"
        data-placement="bottom"
        title="Toipc Analysis"
        ><i class="icon aa-chat"></i
      ></a>
    </li>
  </ul>
  <div class="bottom-menu w-100">
    <ul class="list-unstyled m-auto w-100">
      <li>
        <a
          href="#"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Profile"
          ><i class="icon aa-profile"></i
        ></a>
      </li>
      <li>
        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Help"
          ><i class="icon aa-help"></i
        ></a>
      </li>
      <li>
        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Logout"
          ><i class="icon aa-logout"></i
        ></a>
      </li>
    </ul>
  </div>
</div>
