@import "~@angular/material/theming";
@import "../utils/mixins";
// @import "../utils/varibales";

@mixin mat-button-custom-color($config-or-theme) {
  
  // @include application-varibales($config-or-theme);
  @include mat-button-color($config-or-theme);
  $config: mat-get-color-config($config-or-theme);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);
  $extra-color-1: map-get($config, extra-color-1);


  button{
    outline: none;
    .mat-icon{
      line-height: 1;
      margin-top: -2px;
    }
    & + button{
      margin-left: 10px
    }
    &.custom-button {
      @include elemHeight(46);
      min-height: 36px;
      &.mat-primary {
        background-color: mat-color($primary);
        color: mat-color($primary, '900-contrast');
      }
    }
    &.link{
      color: mat-color($primary);
      .mat-button-focus-overlay{
        display: none;
      }
    }
    &.default-button{
      &.mat-primary {
        background-color: mat-color($extra-color-1, custom-default);
      }
    }
  }
}

@mixin button-custom-theme($config-or-theme) {
  @include mat-button-custom-color($config-or-theme);
}
