@import "~@angular/material/theming";
@import "../utils/mixins";

@mixin mat-input-custom-color($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $warn: map-get($config, warn);

  $background: map-get($config, background);
  $foreground: map-get($config, foreground);

  @include mat-input-color($config-or-theme);

  .custom-input {
    .mat-input-element {
      height: calc(100% - 4px);
       margin-top: 2px;
     
    }
    input:-webkit-autofill {
        background-color:transparent !important;
    }
    button{
      width: 30px !important;
      height: 30px !important;
      @include breakpoint(below-1600){
        width: 24px !important;
        height: 24px !important;
      }
    }
    .mat-icon{
      &.search-icon{
        svg{
          @include elemWidth(20);
          min-width: 16px;
        }
      }
      &.close-icon{
        cursor: pointer;
      }
    }
    &.mat-form-field-appearance-outline {
      .mat-form-field-infix {
        padding: 0;
        border-top: 0;
        min-height: 36px;
        @include elemHeight(46);
      }
      .mat-form-field-outline{
        top: 0;
      }
      .mat-form-field-suffix{
        top: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
      }
      .mat-form-field-wrapper {
        padding-top: 20px;
      }  
      .mat-form-field-label-wrapper{
        top: -20px;
        padding-top: 20px;
        display: flex;
        align-items: center;
        .mat-form-field-label{
          margin: 0;
          top: auto;
        }
      }
      &.mat-form-field-should-float {
        .mat-form-field-outline-gap{
          border-top-color: currentColor;   
        }
        .mat-form-field-label{
          top: 20px;
          transform: translateY(-20px) scale(0.75);
          font-size: fontSize(18,16);
        }
      }
      .mat-select{
        height: 100%;
        .mat-select-trigger{
          height: 100%;
          .mat-select-value{
            vertical-align: middle;
          }
          .mat-select-arrow-wrapper{
            vertical-align: middle;
            transform:none;
            .mat-select-arrow {
              $icon: url('/assets/images/icons/down-arrow.svg');
              content: $icon;
              height: 13px;
              width: 13px;
              border:0;
            }
          }
        }
      }
    }
    &.custom-textarea{
      .mat-input-element {
        height: calc(100% - 20px);
        padding: 8px 0;
        resize: none;
      }
      &.mat-form-field-appearance-outline {
        .mat-form-field-infix {
          min-height: 90px;
          @include elemHeight(150);
        }
        .mat-form-field-label-wrapper{
          top: -20px;
          padding-top: 20px;
          align-items: flex-start;
          .mat-form-field-label{
            top: 30px;
          }
        }
        &.mat-form-field-should-float {
          .mat-form-field-label{
            top: 20px;
          }
        }
      } 
    }
  }

}

@mixin input-custom-theme($config-or-theme) {
  @include mat-input-custom-color($config-or-theme);
}
