$primary-blue: (
  50: #e4f3ff,
  100: #bfe0ff,
  200: #97ceff,
  300: #6dbaff,
  400: #51aaff,
  500: #3f9bff,
  600: #408cff,
  700: #3e79ea,
  800: #3d68d8,
  900: #3947b8,
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  ),
);

$black: (
  50: #e0e0e0,
  100: #b3b3b3,
  200: #808080,
  300: #4d4d4d,
  400: #262626,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #a6a6a6,
  A200: #8c8c8c,
  A400: #737373,
  A700: #666666,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$custom-color: (
  custom-red: #e20b0b,
  custom-green: #8cf00a,
  custom-cyan: #13f3f3,
  custom-default: #ccc,
  bgColor: #efefef,
  // 300: #363636,
  // 400: #51aaff,
  // 500: #3f9bff,
  // 600: #e20b0b,
  // 700: #3e79ea,
  // 800: #3d68d8,
  // 900: #3947b8,
  // A100: #82b1ff,
  // A200: #448aff,
  // A400: #2979ff,
  // A700: #2962ff,
  contrast: (
    red: $dark-primary-text,
    green: $dark-primary-text,
    cyan: $dark-primary-text,
    default: $dark-primary-text,
    bgColor:$dark-primary-text,
    // 300: $dark-primary-text,
    // 400: $dark-primary-text,
    // 500: $dark-primary-text,
    // 600: $dark-primary-text,
    // 700: $light-primary-text,
    // 800: $light-primary-text,
    // 900: $light-primary-text,
    // A100: $dark-primary-text,
    // A200: $dark-primary-text,
    // A400: $dark-primary-text,
    // A700: $light-primary-text,
  ),
);
