<app-primary-loader *ngIf="isShowPrimaryLoader"></app-primary-loader>
<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer
    #drawer
    [(opened)]="isSidePanelOpen"
    position="end"
    [mode]="'over'"
    (opened)="onDrawerOpen()"
    (closed)="onDrawerClose()"
  >
    <app-drawer></app-drawer>
  </mat-drawer>
  <mat-drawer-content>
    <app-header
      *ngIf="isLoggedIn"
      (toggleDrawerEmmit)="isSidePanelOpen = $event"
      (logoutEmmit)="onLogoutHandler()"
    ></app-header>
    <section
      role="main"
      class="page-container"
      id="page-container"
      [ngClass]="{ 'page-container-top-padding': isLoggedIn }"
    >
      <app-left-nav-bar *ngIf="isLoggedIn"></app-left-nav-bar>
      <section
        class="body-container"
        [ngClass]="{ 'body-container-left-padding': isLoggedIn }"
      >
        <router-outlet></router-outlet>
        <app-footer *ngIf="isLoggedIn"></app-footer>
      </section>
    </section>
  </mat-drawer-content>
</mat-drawer-container>
