<app-primary-loader *ngIf="isShowPrimaryLoader"></app-primary-loader>
<mat-drawer-container class="example-container" [hasBackdrop]="true" autosize>
  <mat-drawer
    #drawer
    class="custom-drawer"
    [position]="DrawerPosition.START"
    [mode]="DrawerMode.SIDE"
    [opened]="isDrawerOpen"
    (opened)="onDrawerOpen()"
    (closed)="onDrawerClose()"
  >
    <app-drawer></app-drawer>
  </mat-drawer>
  <mat-drawer-content>
    <section
      class="left-panel-container h-100pc position-fixed"
      *ngIf="isLoggedIn"
    >
      <app-left-nav-bar
        (toggleLeftSidePanelStateEmmit)="toggleLeftSidePanelHandler($event)"
      ></app-left-nav-bar>
    </section>

    <!-- [ngClass]="{ 'app-left-padding': isLoggedIn }" -->
    <section
      role="main"
      class="page-container"
      id="page-container"
      [@onMainContentChange]="isLeftSidePanelOpen ? 'open' : 'close'"
    >
      <app-header
        *ngIf="isLoggedIn"
        (toggleDrawerEmmit)="isDrawerOpen = $event"
        (logoutEmmit)="onLogoutHandler()"
      ></app-header>
      <section
        class="body-container"
        [ngClass]="{ 'app-top-padding': isLoggedIn }"
      >
        <router-outlet></router-outlet>
        <app-footer *ngIf="isLoggedIn"></app-footer>
      </section>
    </section>
  </mat-drawer-content>
</mat-drawer-container>
